.mo-tab {

}
.mo-tab-hd {
    margin-bottom: 10px;
    border-bottom: 1px solid #DDD;
}
.mo-tab-hd-trigger {
    position: relative;
    top:1px;
    display: inline-block;
    cursor:pointer;
    padding:.3em 2em;
    border:1px solid transparent;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
    color:#337ab7;
    &:hover {
        background-color:#eee;
    }
}
html .mo-tab-hd-trigger--on {
    color:#555;
    border-color:#ddd;
    border-bottom-color:white;
    &:hover {
        background-color: transparent;
    }
}

.mo-tab-bd {

}
.mo-tab-bd-box {
    display: none;
}
html .mo-tab-bd-box--on{
    display: block;
}

// static

.m-tab-static {}
.m-tab-static-hd {}
.m-tab-static-hd-trigger {
    padding-left: 46px;
    padding-right: 46px;
    line-height: 46px;
    display: inline-block;
    text-align: center;
    font-size:18px;
    color:#666666;
    border-top:2px solid transparent;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    text-decoration: none;
    cursor: poitner;
}
    .m-tab-static-hd-trigger--on {
        border-top-color:#48a3f0;
        border-left-color:#f0f0f0;
        border-right-color:#f0f0f0;
        background-color: white;
    }
.m-tab-static-box {
    background-color: white;
    margin-left: 1px;
    padding:10px;
}
