.tree ul {
    padding-left: 0;
}
.tree ul,
.tree li {
    list-style-type:none;
}
.tree-li-false {
    height:24px;
    line-height: 24px;
    overflow-y:hidden;
    padding-left: 18px;
    position: relative;
}
.tree-li-true {
    height:auto;
    padding-left: 18px;
    line-height: 24px;
    position: relative;
}
.tree-li-span{
    width:12px;
    height:12px;
    line-height:12px;
    font-size: 12px;
    position:absolute;
    top: 7px;
    left: 0;
    display:inline-block;
    vertical-align: middle;
}
.tree-li-span:before {
    position:absolute;
    top:0px;
    left:0px;
    cursor:pointer;
    display:inline-block;
    border:1px solid black;
    height:100%;
    width:100%;
    text-align:center;
}
.tree-li-false > .tree-li-span:before{
    content:'+';
}
.tree-li-true > .tree-li-span:before{
    content:'-';
}