input[type=text].mo-input {
    width:300px;
    box-sizing:border-box;
    border-radius: 3px;
	border:1px solid #e2e2e2;
    padding-left: .5em;
    padding-right: .5em;
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
}
