.mo-5-body {
    background-color: #f0f0f0;
    height: 100%;
}
.mo-5-layout {
    height: 100%;
    width:100%;
    border-spacing: 0;
}
.mo-5 {
    height: 100%;
    padding-top: 54px;
    box-sizing: border-box;
    position: relative;
}
.mo-5-head {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    background-color: #48a3f0;
    line-height: 54px;
    height: 54px;
    box-shadow: 0px 0px 3px rgba(1,1,1,.5);
}
.mo-5-head-title {
    font-size:22px;
    color:white;
    padding-left: 43px;
    display: inline-block;
}
.mo-5-head-tool {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.mo-5-head-tool-item {
    display: inline-block;
    border-left: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
    padding-right: 40px;
    cursor: pointer;
    vertical-align: middle;
    & > .fa {
        font-size: 24px;
        line-height: 22px;
        padding-right: 10px;
    }
    &:first-child {
        border-left: none;
    }
}
.mo-5-side {
    width: 250px;
    min-width: 250px;
    background-color: white;
    vertical-align: top;
    position: absolute;
    top: 54px;
    left: 0;
    bottom: 0;
}
.mo-5-side-logo {
    height: 200px;
    box-sizing: border-box;
    padding-top: 28px;
    background-color:white;
}
.mo-5-side-logo-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 110px;
}
.mo-5-side-logo-title {
    line-height: 50px;
    font-size:16px;
    text-align: center;
    color:#333;
}
.mo-5-side-item {
    text-decoration: none;
    color:#626262;
}
.mo-5-side-item-title {
    height: 52px;
    line-height: 52px;
    font-size:18px;
    border-left:5px solid transparent;
    position: relative;
    cursor: pointer;
    &:before {
        content: ' ';
        width: 10px;
        height: 10px;
        position: absolute;
        position: absolute;
        right:16px;top:18px;
        text-align: cetner;
        content: " ";
        display: inline-block;
        border: 2px solid #626262;
        border-top-width: 0;
        border-right-width: 0;
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }
}
    .mo-5-side-item--on {
        background-color: #c8e3fa;
        .mo-5-side-item-sub {
            display: block;
        }
        .mo-5-side-item-title {
            background-color: #48a3f0;
            border-color: #027fcd;
            color:white;
            &:before {
                border-color:white;
                -moz-transform: rotate(-46deg);
                -o-transform: rotate(-46deg);
                -webkit-transform: rotate(-46deg);
                transform: rotate(-46deg);
            }
        }
    }
.mo-5-side-item-title>.fa {
    font-size:26px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: text-top;
}
.mo-5-side-item-sub {
    padding-left: 102px;
    display: none;
}
.mo-5-side-item-sub-item {
    display: block;
    line-height: 36px;
    font-size:18px;
    text-decoration: none;
    color:#808080;
    &:hover {
        color:#48a3f0;
    }
}
    .mo-5-side-item-sub-item--on {
        color:#48a3f0;
        &:before{
            content:'•';
            width: 10px;
            padding-right: 10px;
            margin-left: -20px;
        }
    }
.mo-5-cnt {
    vertical-align: top;
    padding:10px;
    
    position: absolute;
    top: 54px;
    left: 250px;
    right: 0;
    bottom: 0;
    overflow: auto;
}
